#FormularioCategoria
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2%;
}
#Boton
{
    padding: 2%;
}
#Bien
{
    color:green;   
}
#Mal
{
    color:red;
}