/*Body*/
body
{
    margin: 0;
    padding: 0;
}
#Productos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}
#Caja
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding:1%;
}
#Nombre_Categoria
{
    font-size: 25px;
}
/*Header*/
header
{
    margin-top: 1%;
}
#Menu
{
    align-content: center;
}
ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}
li a
{
    text-decoration: none;
    color: black;
}
#logo
{
    margin-left: 10%;
}